{
  "compressionlevel": -1,
  "height": {{ height }},
  "infinite": false,
  "layers": [
    {
      "data": [{{ ([0] * (width * height)) | join(', ') }}],
      "height": {{ height }},
      "id": 1,
      "name": "ground",
      "opacity": 1,
      "type": "tilelayer",
      "visible": true,
      "width": {{ width }},
      "x": 0,
      "y": 0
    },
    {
      "data": [{{ ([0] * (width * height)) | join(', ') }}],
      "height": {{ height }},
      "id": 2,
      "name": "details",
      "opacity": 1,
      "type": "tilelayer",
      "visible": true,
      "width": {{ width }},
      "x": 0,
      "y": 0
    },
    {
      "data": [{{ ([0] * (width * height)) | join(', ') }}],
      "height": {{ height }},
      "id": 3,
      "name": "structures",
      "opacity": 1,
      "type": "tilelayer",
      "visible": true,
      "width": {{ width }},
      "x": 0,
      "y": 0
    },
    {
      "draworder": "topdown",
      "id": 4,
      "name": "npcs",
      "objects": [],
      "opacity": 1,
      "type": "objectgroup",
      "visible": true,
      "x": 0,
      "y": 0
    },
    {
      "draworder": "topdown",
      "id": 5,
      "name": "triggers",
      "objects": [],
      "opacity": 1,
      "type": "objectgroup",
      "visible": true,
      "x": 0,
      "y": 0
    }
  ],
  "nextlayerid": 6,
  "nextobjectid": 1,
  "orientation": "orthogonal",
  "renderorder": "right-down",
  "tiledversion": "1.10",
  "tileheight": 32,
  "tilesets": [],
  "tilewidth": 32,
  "type": "map",
  "version": "1.10",
  "width": {{ width }}
}
